# =========================
# Laravel Backend
# =========================

bookspace-backend/vendor/
bookspace-backend/node_modules/

bookspace-backend/.env
bookspace-backend/.env.backup
bookspace-backend/.env.production

bookspace-backend/storage/*.key
bookspace-backend/storage/logs/*
bookspace-backend/storage/framework/cache/*
bookspace-backend/storage/framework/sessions/*
bookspace-backend/storage/framework/views/*

# =========================
# React / Vite Frontend
# =========================

bookspace-frontend/node_modules/
bookspace-frontend/dist/

bookspace-frontend/.env
bookspace-frontend/.env.local
bookspace-frontend/.env.production

# =========================
# IDE
# =========================

.idea/
.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db