# =========================
# Laravel Backend
# =========================

bookspace-backend/vendor/
bookspace-backend/node_modules/

bookspace-backend/.env
bookspace-backend/.env.*
!bookspace-backend/.env.example

bookspace-backend/storage/*.key
bookspace-backend/storage/logs/*
bookspace-backend/storage/framework/cache/*
bookspace-backend/storage/framework/sessions/*
bookspace-backend/storage/framework/views/*

# =========================
# React / Vite Frontend
# =========================

bookspace-web/node_modules/
bookspace-web/dist/

bookspace-web/.env
bookspace-web/.env.*
!bookspace-web/.env.example

# =========================
# IDE
# =========================

.idea/
.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db
